.wrapper {
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.image {
    height: 50%;
    width: 50%;

}

.name {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.list {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.list__item {
    margin-bottom: 5px;
}

.wrapper_text {
    display: flex;
    flex-direction: column;
}